.grid {
  display: grid;
  grid-template-columns: repeat(30, 0fr);
  gap: 0px;
}

.grid-cell {
  background-color: white;
  border: 1px solid #ccc;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .grid-cell {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 1024px) {
  .grid-cell {
    height: 28px;
    width: 28px;
  }
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.wall {
  background-color: black;
}

.energy {
  background-color: yellow;
}

.path {
  background-color: blue;
}

.traversed {
  background-color: bisque;
}
